.contact-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 12px;
  border-style: double;
}

.contact-table th,
.contact-table td {
    padding: 12px 15px;
}

.contact-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.contact-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

